*~
.ipynb_checkpoints/
*/.ipynb_checkpoints/
#results
*.RData
*.Rhistory
*.png


!results/
results/*
!results/main/
results/main/*
!results/main/cmi_pb_datasets/
results/main/cmi_pb_datasets/*
!results/main/cmi_pb_datasets/processed/

!results/refs/
results/refs/*
!results/refs/gencode/
!results/refs/tasks.tsv

# first challenge ignore dirs/files
!first_challenge/results/
first_challenge/results/*
!first_challenge/results/main/
first_challenge/results/main/*
!first_challenge/results/main/cmi_pb_datasets/
first_challenge/results/main/cmi_pb_datasets/*
!first_challenge/results/main/cmi_pb_datasets/processed/

!first_challenge/results/refs/
first_challenge/results/refs/*
!first_challenge/results/refs/gencode/
!first_challenge/results/refs/tasks.tsv

# second challenge ignore dirs/files
!second_challenge/results/
second_challenge/results/*
!second_challenge/results/main/
second_challenge/results/main/*
!second_challenge/results/main/cmi_pb_datasets/
second_challenge/results/main/cmi_pb_datasets/*
!second_challenge/results/main/cmi_pb_datasets/processed/

!second_challenge/results/refs/
second_challenge/results/refs/*
!second_challenge/results/refs/gencode/
!second_challenge/results/refs/tasks.tsv
second_challenge/results/main/cmi_pb_datasets/processed/all_versus_all/

shared/refs/*
shared/refs/genocode/*
!shared/refs/gencode/download.sh


# third challenge ignore dirs/files
third_challenge/init/
third_challenge/results/

